<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end"><ion-button color="success" (click)="Guardar()"><ion-icon style="font-size:32px;" name="checkmark-circle-outline"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <ion-item (click)="TomFot()" lines="none" style="margin:5%;">
    <ion-avatar style="margin: 0 auto; height:200px; width:200px; border:5px solid var(--ion-color-primary);">
      <img *ngIf="!servicios.UsuMat.FotPer.includes('https://')" src="{{servicios.ApiUrl}}img/{{DetFot.Carpeta}}/{{servicios.UsuMat.FotPer}}">
      <img *ngIf="servicios.UsuMat.FotPer.includes('https://')" src="{{servicios.AjuFPRS(servicios.UsuMat.FotPer)}}" alt="">
    </ion-avatar>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre de la Cliente</ion-label>
      <ion-input [(ngModel)]="servicios.UsuMat.Nombre" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="servicios.UsuMat.Apellido" type="text"></ion-input>
    </ion-item>

    <!--
    <ion-item>
      <ion-label position="floating">Identificación</ion-label>
      <ion-input [(ngModel)]="servicios.UsuMat.Identificacion" type="text"></ion-input>
    </ion-item>
    -->

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="servicios.UsuMat.Email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono ({{servicios.Pais.Codigo}})</ion-label>
      <ion-input [(ngModel)]="servicios.UsuMat.Telefono" type="tel" disabled></ion-input>
    </ion-item>

    <!--
    <ion-item (click)="VerMap('Origen')">
      <ion-label class="ion-text-wrap">
        <h2>Ubibación de la Cliente</h2>
        <p *ngIf="servicios.Origen.OriDes == ''">{{servicios.UsuMat.UbiEmpDes}}</p>
        <p *ngIf="servicios.Origen.OriDes == ''" style="opacity:0;">{{servicios.UsuMat.UbiEmp}}</p>
        <p *ngIf="servicios.Origen.OriDes != ''">{{servicios.Origen.OriDes}}</p>
        <p *ngIf="servicios.Origen.OriDes != ''" style="opacity:0;">{{servicios.Origen.Origen}}</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>

    <ion-item (click)="OpeModEsp()">
      <ion-label>
        <h2>Especialidad: <em style="color:var(--ion-color-medium);">{{DesEsp}}</em></h2>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
    -->

    <ion-item (click)="OpeModCon()">
      <ion-label>
        <h2>Contraseña</h2>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>