<ion-header>
  <ion-toolbar>
    <ion-title>{{Titulo}}</ion-title>
    <ion-buttons slot="end"><ion-button color="primary" (click)="closeModal(null)"><ion-icon style="font-size:32px;" name="close-outline"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="TipMod == 'UplDoc'" style="text-align: center;">
    <input type="file" id="InpFil" #InpFil type="file" (change)="LoaFilSel($event)" style="position: absolute; width:0px; height:0px; opacity:0">
    <ion-button  *ngIf="CarFil == 'No'" color="primary" (click)="SelArc()"><ion-icon name="search-outline" slot="start"></ion-icon>Buscar Archivo</ion-button>
    <ion-item *ngIf="CarFil == 'Si'" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary">Cargando ...</ion-spinner>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="TipMod == 'RepNue'" lines="none" style="margin:5%;">
    <ion-avatar style="margin: 0 auto; height:200px; width:200px; border:5px solid var(--ion-color-primary);">
      <img src="{{servicios.ApiUrl}}img/usu/{{Data.FotPer}}">
    </ion-avatar>
  </ion-item>

  <ion-list *ngIf="TipMod == 'RepNue'">
    <ion-item>
      <ion-label>
        <h2>Nombre y Apellido:</h2>
        <p>{{Data.Nombre}} {{Data.Apellido}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Email:</h2>
        <p><a style="text-decoration: none;" href="mailto:{{Data.Email}}">{{Data.Email}}</a></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Telefono:</h2>
        <p><a style="text-decoration: none;" href="tel:{{Data.Telefono}}">{{Data.Telefono}}</a></p>
      </ion-label>
    </ion-item>
    <!--
    <ion-item>
      <ion-label>
        <h2>Licencia:</h2>
        <p>{{Data.Licencia}}</p>
      </ion-label>
    </ion-item>
    -->
  </ion-list>

  <ion-list *ngIf="TipMod == 'RutAct'">
    <ion-item *ngIf="!LisIte" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="LisIte && LisIte.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; opacity:0.3;">Sin resultados</h1>
    </ion-item>
    <ion-item (click)="closeModal(ite)" *ngFor="let ite of LisIte">
      <ion-label class="ion-text-wrap">
        <h2 style="font-size:large;">{{ite.Nombre}}</h2>
        <p>{{ite.Descripcion}}</p>
        <ion-grid style="text-align: center;">
          <ion-row>
            <ion-col><h2 style="color: var(--ion-color-medium);">{{ite.TotHor}} Horarios de Salida</h2></ion-col>
            <ion-col><h2 style="color: var(--ion-color-dark);">{{ite.TotPar}} Paradas a {{servicios.Pais.SimMon}}{{servicios.NumFor(ite.PrePorPar,2)}} c/u</h2></ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'SelCon'">
    <ion-item *ngIf="!LisIte" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="LisIte && LisIte.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; opacity:0.3;">Sin resultados</h1>
    </ion-item>
    <ion-item (click)="closeModal(ite)" *ngFor="let ite of LisIte">
      <!--<img slot="start" style="height:75px; width:100px; margin:10px; border-radius:5px;" src="{{servicios.ApiUrl}}img/{{Carpeta}}/{{ite.FotPer}}">-->
      <div slot="start" style="height:75px; width:75px; border-radius:50%; background-size:contain; background: url({{servicios.ApiUrl}}img/{{Carpeta}}/{{ite.FotPer}}); background-size: cover; background-position-x: 50%; background-position-y: 50%;"></div>
      <ion-label>
        <h1>{{ite.Nombre}} {{ite.Apellido}}</h1>
        <!--<p style="text-align:left;"><a style="text-decoration: none;" href="tel:{{ite.Telefono}}">Tel: {{ite.Telefono}}</a></p>-->
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'VerChe'">
    <ion-item *ngIf="!LisIte" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="LisIte && LisIte.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; opacity:0.3;">Sin resultados</h1>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col><p style="color:var(--ion-color-dark)"><strong style="opacity:0.7;">Conductor:</strong><br>{{Sal.NomCon}}</p></ion-col>
        <ion-col><p style="color:var(--ion-color-dark)"><strong style="opacity:0.7;">Unidad:</strong><br>{{Sal.DesUni}}</p></ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngFor="let ite of LisIte">
      <ion-label class="ion-text-wrap">
        <h2 style="font-size:large;">{{ite.NomPar}}</h2>
        <p>{{servicios.ForFecHorPeq(ite.FecHorChe)}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'VerRec'">
    <ion-item *ngIf="!LisIte" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="LisIte && LisIte.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; opacity:0.3;">Sin resultados</h1>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col><p style="color:var(--ion-color-dark)"><strong style="opacity:0.7;">Conductor:</strong><br>{{Sal.NomCon}}</p></ion-col>
        <ion-col><p style="color:var(--ion-color-dark)"><strong style="opacity:0.7;">Unidad:</strong><br>{{Sal.DesUni}}</p></ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngFor="let ite of LisIte">
      <ion-label class="ion-text-wrap" style="text-align: center;">
        <p style="font-size:large;">{{ite.NomUsu}}</p>
        <h1 style="font-size:large;">{{ite.Motivo}}</h1>
        <p>{{ite.Comentarios}}</p>

        <img style="margin: 0 auto; height:200px; width:200px; border:5px solid var(--ion-color-primary); border-radius:20px;" *ngIf="ite.Adjunto != 'fpdr.png' && !ite.Adjunto.includes('https://')" src="{{servicios.ApiUrl}}img/rec/{{ite.Adjunto}}">
        <img style="margin: 0 auto; height:200px; width:200px; border:5px solid var(--ion-color-primary); border-radius:20px;" *ngIf="ite.Adjunto != 'fpdr.png' && ite.Adjunto.includes('https://')" src="{{servicios.AjuFPRS(ite.Adjunto)}}">

        <p style="font-size: small; opacity:0.7;">{{servicios.ForFecHorPeq(ite.FecHorReg)}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'EspCli'">
    <ion-item *ngIf="!LisIte" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="LisIte && LisIte.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; opacity:0.3;">Sin resultados</h1>
    </ion-item>
    <ion-item *ngFor="let ite of LisIte">
      <ion-label class="ion-text-wrap">
        <h2>{{ite.Nombre}}</h2>
        <p style="margin-left:15px;">{{ite.Descripcion}}</p>
      </ion-label>
      <ion-icon (click)="SerSel(ite)" *ngIf="ite.NMSR == 0 && ite.SerSel == 'Si'" slot="end" name="checkmark-circle-outline" color="primary"></ion-icon>
      <ion-icon (click)="SerSel(ite)" *ngIf="ite.SerSel == 'No'" slot="end" name="ellipse-outline" color="medium"></ion-icon>
      <ion-icon (click)="SerDel(ite)" *ngIf="ite.NMSR > 0" slot="end" name="close-circle-outline" color="danger"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'LisCat'">
    <ion-item *ngIf="!LisIte" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="LisIte && LisIte.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; opacity:0.3;">Sin resultados</h1>
    </ion-item>
    <ion-item (click)="CatSel(ite)" *ngFor="let ite of LisIte">
      <img slot="start" style="height:75px; width:100px; margin:10px; border-radius:5px;" src="{{servicios.ApiUrl}}img/{{Carpeta}}/{{ite.Imagen}}">
      <ion-label class="ion-text-wrap">
        <h2>{{ite.Nombre}}</h2>
        <p style="margin-left:15px;">{{ite.Requisitos}}</p>
      </ion-label>
      <ion-icon *ngIf="ite.CatSel == 'Si'" slot="end" name="checkmark-circle-outline" color="primary"></ion-icon>
      <ion-icon *ngIf="ite.CatSel == 'No'" slot="end" name="ellipse-outline" color="medium"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'Esp' || TipMod == 'Cat'">
    <ion-item *ngIf="!LisIte" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="LisIte && LisIte.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; opacity:0.3;">Sin resultados</h1>
    </ion-item>
    <ion-item (click)="closeModal(ite)" *ngFor="let ite of LisIte">
      <img slot="start" style="height:75px; width:100px; margin:10px; border-radius:5px;" src="{{servicios.ApiUrl}}img/{{Carpeta}}/{{ite.Imagen}}">
      <ion-label>
        <h2>{{ite.Nombre}}</h2>
        <p>{{ite.Descripcion}}</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'EspMed'">
    <ion-item *ngIf="!LisIte" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="LisIte && LisIte.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; opacity:0.3;">Sin resultados</h1>
    </ion-item>
    <ion-item (click)="closeModal(ite)" *ngFor="let ite of LisIte">
      <ion-label>
        <h2>{{ite.Nombre}}</h2>
        <p>{{ite.Descripcion}}</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'DomTar'">
    <ion-item>
      <ion-label position="floating">Ofrezca su Tarifa ({{servicios.Pais.SimMon}})</ion-label>
      <ion-input [(ngModel)]="MedDom.Tar" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Método de pago</ion-label>
      <ion-select [(ngModel)]="MedDom.Met" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="Efectivo">Efectivo</ion-select-option>
        <ion-select-option value="Tarjeta">Tarjeta</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'PagVid'">
    <ion-item (click)="closeModal('Efectivo')">
      <ion-icon slot="start" name="cash-outline" color="primary"></ion-icon>
      <ion-label>
        <h2>Efectivo</h2>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'CanSol'">
    <ion-radio-group>
      <ion-item *ngFor="let ite of LisIte">
        <ion-label>{{ite.Descripcion}}</ion-label>
        <ion-radio slot="start" value="{{ite.NRegistro}}" (click)="ProVidSel(ite)"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item *ngIf="ProSel.Des == 'Otro'">
      <ion-label position="floating">Descripción del problema</ion-label>
      <ion-input [(ngModel)]="ProSel.OtrDes" type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'CitPac'">
    <ion-radio-group [(ngModel)]="PacSel">
      <ion-item *ngFor="let ite of LisIte">
        <ion-label>{{ite.Nombre}} {{ite.Apellido}}</ion-label>
        <ion-radio slot="start" value="{{ite.Nombre}} {{ite.Apellido}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list *ngIf="TipMod == 'PagSer'">
    <ion-item (click)="closeModal('Billetera')">
      <ion-icon slot="start" name="wallet-outline" color="secondary"></ion-icon>
      <ion-label>
        <h2 style="color:var(--ion-color-medium)">Billetera</h2>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>

    <ion-item (click)="closeModal('Efectivo')">
      <ion-icon slot="start" name="cash-outline" color="secondary"></ion-icon>
      <ion-label>
        <h2 style="color:var(--ion-color-medium)">Efectivo</h2>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'EncVia'">
    <ion-item *ngFor="let opc of Pre.Opcs" (click)="closeModal(opc)">
      <ion-icon slot="start" name="radio-button-off-outline" color="primary"></ion-icon>
      <ion-label>
        <h2 style="color: var(--ion-color-dark);">{{opc}}</h2>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="TipMod == 'Con'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input #InpPas [(ngModel)]="DatLog.Pas" type="password"></ion-input>
            <ion-icon *ngIf="MosPas == 'No'" slot="end" (click)="MosOcuCon(InpPas,InpRep)" color="primary" name="eye-outline" style="font-size:32px;"></ion-icon>
            <ion-icon *ngIf="MosPas == 'Si'" slot="end" (click)="MosOcuCon(InpPas,InpRep)" color="primary" name="eye-off-outline" style="font-size:32px;"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Repita Contraseña</ion-label>
            <ion-input #InpRep [(ngModel)]="DatLog.Rep" type="password"></ion-input>
            <ion-icon *ngIf="MosPas == 'No'" slot="end" (click)="MosOcuCon(InpPas,InpRep)" color="primary" name="eye-outline" style="font-size:32px;"></ion-icon>
            <ion-icon *ngIf="MosPas == 'Si'" slot="end" (click)="MosOcuCon(InpPas,InpRep)" color="primary" name="eye-off-outline" style="font-size:32px;"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-searchbar *ngIf="TipMod == 'RutAct' || TipMod == 'SelCon' || TipMod == 'Esp' || TipMod == 'EspMed' || TipMod == 'Cat'" animated placeholder="Buscar" [(ngModel)]="ValBus" (ngModelChange)="ActCar()"></ion-searchbar>

    <ion-grid *ngIf="TipMod == 'RepNue'">
      <ion-row style="text-align:center;">
        <ion-col>
          <ion-icon (click)="closeModal('No')" color="danger" style="font-size:40px; margin:10px;" name="close-circle-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon (click)="closeModal('Si')" color="success" style="font-size:40px; margin:10px;" name="checkmark-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="TipMod == 'EspCli'">
      <ion-row style="text-align:center;">
        <ion-col>
          <ion-icon (click)="ProEspCli()" color="success" style="font-size:40px; margin:10px;" name="checkmark-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="TipMod == 'LisCat'">
      <ion-row style="text-align:center;">
        <ion-col>
          <ion-icon (click)="ProLisCat()" color="success" style="font-size:40px; margin:10px;" name="checkmark-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="TipMod == 'CitPac'">
      <ion-row style="text-align:center;">
        <ion-col>
          <ion-icon (click)="closeModal(PacSel)" color="success" style="font-size:40px; margin:10px;" name="checkmark-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="TipMod == 'CanSol'">
      <ion-row style="text-align:center;">
        <ion-col>
          <ion-icon (click)="ConPro()" color="success" style="font-size:40px; margin:10px;" name="checkmark-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="TipMod == 'DomTar'">
      <ion-row style="text-align:center;">
        <ion-col>
          <ion-icon (click)="OfrTar()" color="success" style="font-size:40px; margin:10px;" name="checkmark-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="TipMod == 'Con'">
      <ion-row style="text-align:center;">
        <ion-col>
          <ion-icon (click)="CamCon()" color="success" style="font-size:40px; margin:10px;" name="checkmark-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>