<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Preguntas frecuentes<br><em>({{TemAct.Tema}})</em></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pre of LisPre" (click)="VerRes(pre)">
      <ion-icon slot="start" name="list-outline"></ion-icon>
      <ion-label>
        <h2>{{pre.Pregunta}}</h2>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
