<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Solicitar {{servicios.NomApp}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item (click)="VerMap('Origen')">
    <ion-label class="ion-text-wrap">
      <h2>Selecciona el Origen</h2>
      <p>{{servicios.Origen.OriDes}}</p>
      <!--<p style="opacity:0.7;">{{servicios.Origen.Origen}}</p>-->
    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
  </ion-item>

  <ion-item (click)="VerMap('Destino')">
    <ion-label class="ion-text-wrap">
      <h2>Selecciona el Destino</h2>
      <p>{{servicios.Destino.DesDes}}</p>
      <!--<p style="opacity:0.7;">{{servicios.Destino.Destino}}</p>-->
    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
  </ion-item>

  <ion-item (click)="OpeModPag()">
    <ion-label class="ion-text-wrap">
      <h2>Forma de pago</h2>
      <p>{{ForPag}}</p>
    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
  </ion-item>

  <div style="width:100%; height:40%; margin-top:5%; opacity:0; transition:all 2s;" [ngStyle]="StyDivMap()">
    <div #map id="map"></div>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid style="text-align:center;">
      <ion-row *ngIf="DatTar">
        <ion-col>
          <p style="margin:0px;"><strong>Distancia</strong><br>{{Distancia.Tex}}</p>
        </ion-col>
        <ion-col>
          <p style="margin:0px;"><strong>Tiempo</strong><br>{{Tiempo.Tex}}</p>
        </ion-col>
        <ion-col>
          <p style="margin:0px;"><strong>Tarifa</strong><br>{{servicios.Pais.SimMon}}{{servicios.NumFor(DatTar.data.MonTarTot,2)}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="success" (click)="RegVia()" expand="block" [disabled]="servicios.Origen.Origen=='' || servicios.Destino.Destino == '' || ForPag == '' || !DatTar" >Solicitar {{servicios.NomApp}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>