<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Completar registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item (click)="TomFot()" lines="none" style="margin-top:5%;">
    <ion-avatar style="margin: 0 auto; height:200px; width:200px; border:5px solid var(--ion-color-primary);">
      <img *ngIf="!servicios.UsuReg.FotPer.includes('https://')" src="{{servicios.ApiUrl}}img/{{DetFot.Carpeta}}/{{servicios.UsuReg.FotPer}}">
      <img *ngIf="servicios.UsuReg.FotPer.includes('https://')" src="{{servicios.AjuFPRS(servicios.UsuReg.FotPer)}}">
    </ion-avatar>
  </ion-item>

  <ion-grid style="margin:5% 10% 10% 10%; padding:5%; border-radius:10px; background-color:rgba(255,255,255, 0.7);">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="servicios.UsuReg.Nombre" type="text" autocapitalize></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="servicios.UsuReg.Apellido" type="text" autocapitalize></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input [(ngModel)]="servicios.UsuReg.Email" type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="servicios.UsuReg.Pas" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input [(ngModel)]="servicios.UsuReg.ConPas" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--
    <ion-row>
      <ion-col>
        <ion-item (click)="OpeMod()">
          <ion-label class="ion-text-wrap">
            <h2>Categorías: <em>{{servicios.UsuReg.DesCat}}</em></h2>
          </ion-label>
          <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    -->
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="ConReg()">
        <ion-icon name="chevron-forward-outline" color="primary" style="font-size:40px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>