<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="DetVen" size="small" shape="round" fill="solid" style="color:var(--ion-color-ligth) !important;" color="primary" href="geo:{{DetVen.UbiAct}}">VER MAPA</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!Mensajes" lines="none">
    <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
  </ion-item>
  <ion-item *ngIf="Mensajes && Mensajes.length == 0" lines="none">
    <h1 style="width:100%; text-align:center; opacity:0.3;">Sin mensajes</h1>
  </ion-item>
  <ion-grid>
    <ion-row *ngFor="let men of Mensajes">
      <ion-col size="9" *ngIf="men.TipUsu == 'Conductor'" class="mensaje conductor">
        <div *ngIf="men.Imagen != ''" (click)="OpeModZoo(men.Imagen,men.Mensaje)" style="height:150px; width:100%; border-radius:5px; padding:10px; text-align:center; vertical-align: middle; border:0px solid #f00;">
          <img style="height:100%; border-radius:5px;" src="{{servicios.ApiUrl}}img/{{DetFot.Carpeta}}/{{men.Imagen}}">
        </div>
        <div class="divavaot"><img class="imaava" src="{{servicios.ApiUrl}}img/usu/{{men.FotPer}}"></div>
        <b>{{men.NomUsu}}</b><em class="pocvis"> (Conductor)</em>
        <br>
        <span>{{men.Mensaje}}</span>
        <div class="fechor" text-right><br>{{servicios.ForFecHorPeq(men.FecHorReg)}}</div>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="men.TipUsu == 'Cliente'" class="mensaje cliente">
        <div *ngIf="men.Imagen != ''" (click)="OpeModZoo(men.Imagen,men.Mensaje)" style="height:150px; width:100%; border-radius:5px; padding:10px; text-align:center; vertical-align: middle; border:0px solid #f00;">
          <img style="height:100%; border-radius:5px;" src="{{servicios.ApiUrl}}img/{{DetFot.Carpeta}}/{{men.Imagen}}">
        </div>
        <div class="divavayo">
          <img *ngIf="!men.FotPer.includes('https://')" class="imaava" src="{{servicios.ApiUrl}}img/usu/{{men.FotPer}}">
          <img *ngIf="men.FotPer.includes('https://')" class="imaava" src="{{men.FotPer}}">
        </div>
        <!--<b>{{men.NomUsu}}</b>-->
        <b>Yo</b>
        <br>
        <span>{{men.Mensaje}}</span>
        <div class="fechor" text-right><br>{{servicios.ForFecHorPeq(men.FecHorReg)}}</div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row *ngIf="NueFot != ''">
      <ion-col style="height:150px; text-align:center; vertical-align:middle;">
        <img style="height:130px; margin-top:10px;" src="{{servicios.ApiUrl}}img/{{DetFot.Carpeta}}/{{NueFot}}">
      </ion-col>
    </ion-row>
    <ion-row align-items-center no-padding>
      <ion-col size="8">
        <textarea rows="2" [(ngModel)]="NueMen" class="nuemen" (keyup.enter)="EnvMen()"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" color="primary" class="nueimabot" (click)="SelFot()">
          <ion-icon *ngIf="CarImg == ''" color="primary" style="font-size:40px;" name="image-outline" slot="icon-only"></ion-icon>
          <ion-spinner *ngIf="CarImg == 'Cargando'" style="margin:0 auto;" color="primary"></ion-spinner>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" color="primary" class="nueimabot" (click)="EnvMen()" [disabled]="NueMen == '' && NueFot == ''">
          <ion-icon color="primary" style="font-size:40px;" name="paper-plane-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>