.mensaje{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.divavayo{
    float: left;
    width: 20%;
    margin-right: 5px;
}

.divavaot{
    float: left;
    width: 20%;
    margin-right: 5px;
}

.imaava{
    margin: 0 auto;
    border-radius:50%;
    //border: 1px solid #aaa;
    height:40px;
    width:40px;
}

.cliente{
    background: var(--ion-color-secondary);
    color: #fff;
}

.repartidor{
    background: var(--ion-color-tertiary);
    color: #fff;
}

.conductor{
    background: var(--ion-color-primary);
    color: #fff;
    //text-align: right;
}

.pocvis{
    color: #000;
    opacity: 0.7;
    font-size: smaller;
}

.fechor{
    color: #000;
    opacity: 0.5;
    font-size: smaller;
}

.nuemen{
    width: 100%;
    border: 2px solid var(--ion-color-primary);
    border-radius: 10px;
    background: #fff;
    color: #333;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}

.nueimabot{
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}