<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Número Móvil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin:10%; padding:5%; border-radius:10px; background-color:rgba(255,255,255, 0.7);">
    <ion-row>
      <ion-col>
        <p item-start style="font-size:16px; text-align: center;"><img src="assets/img/{{servicios.Pais.Bandera}}" style="height:32px;" align="absmiddle"/><strong> {{servicios.Pais.Codigo}} {{servicios.Pais.Nombre}}</strong></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Ingrese su número móvil</ion-label>
          <ion-input [(ngModel)]="servicios.UsuReg.NumMov" type="tel"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <a href="{{servicios.ApiUrl}}doc/{{servicios.Pais.TerCon}}" target="_blank" style="margin-top:20px;font-size:medium; text-align:center; color:var(--ion-color-tertiary);">Al continuar el registro aceptas nuestros términos y condiciones</a>
    </ion-row>
  </ion-grid>

  <!--<ion-icon name="arrow-forward-circle"></ion-icon>-->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="ConReg()">
        <ion-icon name="chevron-forward-outline" color="primary" style="font-size:40px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>