<ion-content>
  <ion-img src="assets/img/logotext.png" style="height:30%; margin:5%;"></ion-img>
  <ion-grid style="margin:5%; padding:5%; border-radius:10px; background-color:rgba(255,255,255, 0.7);">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input [(ngModel)]="DatLog.Ema" type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input #InpPas [(ngModel)]="DatLog.Pas" type="password"></ion-input>
          <ion-icon *ngIf="MosPas == 'No'" slot="end" (click)="MosOcuCon(InpPas)" color="primary" name="eye-outline" style="font-size:32px;"></ion-icon>
          <ion-icon *ngIf="MosPas == 'Si'" slot="end" (click)="MosOcuCon(InpPas)" color="primary" name="eye-off-outline" style="font-size:32px;"></ion-icon>
        </ion-item>
        <p (click)="OlvCon()" style="font-size:medium; text-align:right; margin:0; color:var(--ion-color-tertiary)">
          <span *ngIf="RecCon == ''">Olvido su contraseña?</span>
          <ion-spinner *ngIf="RecCon == 'Eje'" style="margin:0 auto;" color="tertiary"></ion-spinner>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="success" (click)="Login()" expand="block">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p style="font-size:medium; font-weight: bold; text-align:center; color:var(--ion-color-dark);">Quiero registrarme en {{servicios.NomApp}}!</p>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col>
        <ion-icon (click)="LogGoo()" name="logo-google" style="font-size:48px; color:#DB4437;"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon (click)="LogFac()" name="logo-facebook" style="font-size:48px; color:#3B5998;"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon (click)="Registro()" name="phone-portrait-outline" style="font-size:40px; color:var(--ion-color-secondary);"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>