<ion-content>
  <ion-img src="assets/img/logo.png" style="height:20%;"></ion-img>
  <ion-grid style="margin:5%; padding:5%; border-radius:10px;" [ngStyle]="{'background-color': servicios.DarMod ? 'rgba(30, 30, 30, 0.8)' : 'rgba(225, 225, 225, 0.8)'}">
    <ion-row>
      <ion-col>
        <ion-item *ngIf="Men.LogTra" lines="none" style="margin:5%;">
          <ion-avatar style="margin: 0 auto; height:150px; width:150px; border:5px solid var(--ion-color-primary);">
            <img *ngIf="!servicios.UsuMat.FotPer.includes('https://')" src="{{servicios.ApiUrl}}img/usu/{{servicios.UsuMat.FotPer}}">
            <img *ngIf="servicios.UsuMat.FotPer.includes('https://')" src="{{servicios.AjuFPRS(servicios.UsuMat.FotPer)}}" alt="">
          </ion-avatar>
        </ion-item>
        <h1 style="text-align:center; margin-top:10px;"><strong>{{Men.Titulo}}</strong></h1>
        <br>
        <h2 style="text-align:justify;">{{Men.Mensaje}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="success" (click)="locationX.back();" expand="block">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>