<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Datos Bancarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let ban of DatBan"  style="margin:5%; padding:2%; border-radius:10px;" [ngStyle]="{'background-color': servicios.DarMod ? 'rgba(30, 30, 30, 0.8)' : 'rgba(225, 225, 225, 0.8)'}">
    <ion-row>
      <ion-col>
        <h3 style="margin:5px;">{{ban.Banco}}</h3>
        <h3 style="margin:5px; opacity:0.7;">{{"****-****-****-"+ban.NumCue.substr(-4)}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 style="margin:5px;">{{ban.TitCue}}</h3>
        <h3 style="margin:5px; opacity:0.7;">{{ban.ID}}</h3>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col>
        <!--<ion-icon color="danger" (click)="EliDat(ban)" style="font-size:32px;" name="remove-circle-outline"></ion-icon>-->
        <ion-button color="danger" (click)="EliDat(ban)"><span style="color:#fff;">Eliminar</span></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row style="text-align: center;">
      <ion-col>
        <ion-button color="warning" (click)="AgrDat()"><span style="color:#fff;">Agregar</span></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>