<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Preguntas frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let tem of LisTem" (click)="VerPre(tem)">
      <ion-icon slot="start" name="list-outline"></ion-icon>
      <ion-label>
        <h2>{{tem.Tema}}</h2>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
