// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

.logoBar{
  content: url('/assets/img/logosf.png');
  height: 36px;
  margin-right: 10px;
}

@font-face{
  font-family: Nasalization Rg;
  src: url('../assets/font/nasalization-rg.otf');
}
*{
  font-family: 'Nasalization Rg' !important;
}
.MSAC{
  font-family: 'Nasalization Rg' !important;
}
.button-inner{
  font-family: 'Nasalization Rg' !important;
  font-weight: bold;
}

ion-item{
  --background:transparent !important;
}

ion-button{
  --border-radius:10px !important;
}

ion-label{
  color:var(--ion-color-primary) !important;
}

.pulse{
  border-radius:50%;
  padding:3px;
  animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation{
  0%{
    box-shadow: 0 0 0 0px rgba(252, 85, 40, 1);
  }
  100%{
    box-shadow: 0 0 0 20px rgba(252, 85, 40, 0);
  }
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #009aff;
  --ion-color-primary-rgb: 0, 154, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0381d4;
  --ion-color-primary-tint: #1da3fd;
  --ion-color-primary-shadow: rgba(0, 154, 255, 0.5);


  /** secondary **/
  --ion-color-secondary: #e3b649;
  --ion-color-secondary-rgb: 227, 182, 73;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #c0993d;
  --ion-color-secondary-tint: #ddb75e;

  /** tertiary **/
  --ion-color-tertiary: #505050;
  --ion-color-tertiary-rgb: 80, 80, 80;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #383838;
  --ion-color-tertiary-tint: #6d6d6d;

  /*
  primary
  --ion-color-primary: #264d9c;
  --ion-color-primary-rgb: 38, 77, 165;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1e3d7a;
  --ion-color-primary-tint: #365aa1;
  --ion-color-primary-shadow: rgba(38, 77, 165, 0.5);

  secondary
  --ion-color-secondary: #41ff5c;
  --ion-color-secondary-rgb: 65, 255, 92;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #38df51;
  --ion-color-secondary-tint: #5ffd77;

  tertiary
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  */

  /** success 
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  **/

  /** success **/
  --ion-color-success: #268e00;
  --ion-color-success-rgb: 38, 142, 0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #227c01;
  --ion-color-success-tint: #2c7710;


  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body.dark {
    --ion-color-primary: #5b469a;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #443180;
    --ion-color-primary-tint: #6d5e9b;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body.dark {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body.dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}



/********ABAJO VALORES PARA GloboMapa*********************************************************/
.DivGloGen{
  //height:150px;
  //width:250px;
  border-radius:10px;
}
.DivGloVeh{
  width:100%;
  border:0px solid #F00;
  /*margin-bottom:10px;*/
}
.DivGloGPS{
  width:100%;
  border:0px solid #0F0;
  /*margin-bottom:10px;*/
  color:#333;
  
  background-color:#EEE;
  border-radius:10px;
}
.DivGloBot{
  width:100%;
  border:0px solid #00F;
  margin-top: 10px;
}

.tabGloVeh{
  width:100%;
}
.tabGloGPS{
  width:100%;
}
.tabGloBot{
  width:100%;
}

.tdGloUsu{
  text-align:left;
  font-weight:bold;
  color:#090;
  margin:5px;
}
.tdGloVeh{
  text-align:left;
  font-weight:bold;
  color:#009;
  margin:5px;
  padding:5px;
}
.tdGloDatV{
  text-align:left;
  vertical-align:top;
  color:#559;
  margin:5px;
  padding:5px;
}
.tdGloDat{
  text-align:left;
  vertical-align:top;
  margin:5px;
  padding:5px;
}

.tdGloObs{
  text-align:left;
  vertical-align:top;	
  border-radius:3px;
  color:#559;
  margin:5px;
  padding:5px;
}
.tdGloEst{
  text-align:center;
  vertical-align:top;	
  border-radius:3px;
  margin:5px;
  padding:5px;
}

.tdGloBot{
  text-align:center;
  vertical-align:middle;
}

/*
.imgGloActMot{
  content:url('../assets/img/actmotneg.png');
  vertical-align:middle;
  height:24px !important;
  cursor:pointer;	
  
  transition: all 0.3s ease;
}
.imgGloActMot:hover{
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  -moz-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.imgGloApaMot{
  content:url('../assets/img/apamotneg.png');
  vertical-align:middle;
  height:24px;
  cursor:pointer;	
  
  transition: all 0.3s ease;
}
.imgGloApaMot:hover{
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  -moz-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.imgGloCom{
  content:url('../assets/img/comlle.png');
  vertical-align:middle;
  width:32px;
  height:32px;
  cursor:pointer;	
  
  transition: all 0.3s ease;
}
.imgGloCom:hover{
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  -moz-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}
*/
/********ARRIBA VALORES PARA GloboMapa*********************************************************/