<ion-app>
  <ion-menu *ngIf="servicios.UsuMat" menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content-footer">
        <img src="assets/img/fondo.png" alt="">
      </div>
      <div class="header-content" (click)="MenCli('Perfil')">
        <img *ngIf="!servicios.UsuMat.FotPer.includes('https://')" src="{{servicios.ApiUrl}}img/usu/{{servicios.UsuMat.FotPer}}" alt="">
        <img *ngIf="servicios.UsuMat.FotPer.includes('https://')" src="{{servicios.AjuFPRS(servicios.UsuMat.FotPer)}}" alt="">
        <ion-label>
          <h2>{{servicios.UsuMat.Nombre}} {{servicios.UsuMat.Apellido}}</h2>
          <h3>{{servicios.UsuMat.DesCat}}</h3>
          <p style="color:var(--ion-color-secondary);">Puntos: <em>{{servicios.NumFor(servicios.UsuMat.Puntos,0)}}</em></p>
        </ion-label>
      </div>
      <ion-list class="menu-items" lines="none">
        <ion-item (click)="MenCli('Viajes')">
          <ion-icon name="navigate-outline"></ion-icon>Viajes
          <ion-badge *ngIf="servicios.DatNot.Viajes.length > 0" color="danger" slot="end">{{servicios.DatNot.Viajes.length}}</ion-badge>
        </ion-item>
        <ion-item (click)="MenCli('Billetera')">
          <ion-icon name="wallet-outline"></ion-icon>Billetera
        </ion-item>
        <!--
        <ion-item (click)="MenCli('Salidas')">
          <ion-icon name="trending-up-outline"></ion-icon>Salidas
          <ion-badge *ngIf="servicios.DatNot.Salidas.length > 0" color="danger" slot="end">{{servicios.DatNot.Salidas.length}}</ion-badge>
        </ion-item>
        <ion-item (click)="MenCli('Conductores')">
          <ion-icon name="people-outline"></ion-icon>Conductores
          <ion-badge *ngIf="servicios.DatNot.Conductores.length > 0" color="danger" slot="end">{{servicios.DatNot.Conductores.length}}</ion-badge>
        </ion-item>
        <ion-item (click)="MenCli('Unidades')">
          <ion-icon name="bus-outline"></ion-icon>Unidades
          <ion-badge *ngIf="servicios.DatNot.Unidades.length > 0" color="danger" slot="end">{{servicios.DatNot.Unidades.length}}</ion-badge>
        </ion-item>
        <ion-item (click)="MenCli('Rutas')">
          <ion-icon name="analytics-outline"></ion-icon>Rutas
          <ion-badge *ngIf="servicios.DatNot.Rutas.length > 0" color="danger" slot="end">{{servicios.DatNot.Rutas.length}}</ion-badge>
        </ion-item>
        -->
        <ion-item (click)="MenCli('Mensajes')">
          <ion-icon name="chatbubbles-outline"></ion-icon>Mensajes
          <ion-badge *ngIf="servicios.DatNot.Chat.length > 0" color="danger" slot="end">{{servicios.DatNot.Chat.length}}</ion-badge>
        </ion-item>
        <ion-item (click)="MenCli('Noti')">
          <ion-icon name="notifications-outline"></ion-icon>Notificaciones
        </ion-item>
        <!--
        <ion-item (click)="MenCli('Reclamos')">
          <ion-icon name="alert-circle-outline"></ion-icon>Reclamos
        </ion-item>
        <ion-item (click)="MenCli('Compartir')">
          <ion-icon name="share-social-outline"></ion-icon>Compartir
        </ion-item>
        -->
        <ion-item (click)="MenCli('Ayuda')">
          <ion-icon name="help-outline"></ion-icon>Ayuda
          <ion-badge *ngIf="servicios.DatNot.Soporte.length > 0" color="danger" slot="end">{{servicios.DatNot.Soporte.length}}</ion-badge>
        </ion-item>
        <ion-item (click)="MenCli('Salir')">
          <ion-icon name="log-out-outline"></ion-icon>Cerrar sesión
        </ion-item>
        <!--
        <ion-item>
          <ion-icon name="moon-outline"></ion-icon>Modo oscuro
          <ion-toggle slot="end" color="success" checked="{{servicios.DarMod}}" (ionChange)="CamModOsc()"></ion-toggle>
        </ion-item>
        -->
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
