.menu-header-bg{
    height: 180px;
    width: 350px;
    background: var(--ion-color-primary);
    background: linear-gradient(90deg,var(--ion-color-primary) 0%, var(--ion-color-primary-shade) 100%);
    box-shadow: 0px 1px 10px var(--ion-color-primary-shadow);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -70px;
    margin-bottom: 60px;
  }
  
  .header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
  
    img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 5px solid var(--ion-color-secondary);
      margin-right: 10px;
    }
  
    h2{
      //font-weight: 300;
      color: var(--ion-color-light);
    }
  
    h3{
      //font-weight: 200;
      color: var(--ion-color-medium);
    }
  
    p{
      font-size: 12px;
      color: var(--ion-color-medium);
      //font-weight: 100;
      letter-spacing: 0.4px;
    }
  }
  
  .header-content-footer{
    margin-top:-100px;
    left: 0px;
    width: 100%;
    height:150px;
  }
  
  .action-button{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    ion-button{
      //text-transform: capitalize;
      //font-weight: 300;
      --background: var(--ion-color-primary);
      --border-radius: 7px;
      --box-shadow: none;
    }
  
    ion-icon{
      margin-right: 1px;
    }
  }
  
  .menu-items{
    margin: 0px;
  
    ion-icon{
      margin-right: 20px;
      color: var(--ion-color-primary);
    }
  
    ion-item{
      padding-left: 20px;
      margin-bottom: 10px;
    }
  
    .active{
      border-left: 5px solid;
      color: var(--ion-color-primary);
      padding-left: 15px;
  
      ion-icon{
        color: var(--ion-color-primary);
      }
    }
  }