<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Billetera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <h3 style="width:100%; opacity:0.7; text-align:right;">Total Cobrado: <span [ngStyle]="{'color':servicios.ColMon(TotCob)}">{{servicios.Pais.SimMon}}{{servicios.NumFor(TotCob,2)}}</span></h3>
  </ion-item>
  <ion-item >
    <h3 style="width:100%; opacity:0.7; text-align:right;">Total Abonado: <span [ngStyle]="{'color':servicios.ColMon(TotAbo)}">{{servicios.Pais.SimMon}}{{servicios.NumFor(TotAbo,2)}}</span></h3>
  </ion-item>
  <!--
  <ion-item >
    <h3 style="width:100%; opacity:0.7; text-align:right;">Total Pagado: <span [ngStyle]="{'color':servicios.ColMon(TotPag)}">{{servicios.Pais.SimMon}}{{servicios.NumFor(TotPag,2)}}</span></h3>
  </ion-item>
  -->
  <ion-item >
    <h3 style="width:100%; opacity:0.7; text-align:right;">Total Retirado: <span [ngStyle]="{'color':servicios.ColMon(TotRet)}">{{servicios.Pais.SimMon}}{{servicios.NumFor((TotRet),2)}}</span></h3>
  </ion-item>
  <ion-item>
    <h3 style="width:100%; opacity:0.7; text-align:right;">Saldo: <span [ngStyle]="{'color':servicios.ColMon(servicios.UsuMat.Saldo)}">{{servicios.Pais.SimMon}}{{servicios.NumFor(servicios.UsuMat.Saldo,2)}}</span></h3>
  </ion-item>

  <ion-list>
    <h3 style="text-align:center; margin:0px;">Detalle de transacciones</h3>
  </ion-list>

  <ion-grid *ngFor="let tra of Trans"  style="margin:5%; padding:2%; border-radius:10px;" [ngStyle]="{'background-color': servicios.DarMod ? 'rgba(30, 30, 30, 0.8)' : 'rgba(225, 225, 225, 0.8)'}">
    <ion-row>
      <ion-col>
        <h3 style="margin:0px;" [ngStyle]="{'color':servicios.ColMon(tra.Monto)}">{{tra.Transaccion}}</h3>
        <p style="opacity:0.7;">{{tra.Descripcion}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: left; opacity:0.5;" size="7">{{servicios.ForFecHor(tra.FecHor)}}</ion-col>
      <ion-col style="text-align: right;" size="5" [ngStyle]="{'color':servicios.ColMon(tra.Monto)}">{{servicios.Pais.SimMon}}{{servicios.NumFor((tra.Monto),2)}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row style="text-align: center;">
      <ion-col>
        <ion-button color="warning" (click)="Retirar()"><span style="color:#fff;">Retirar</span></ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" (click)="Abonar()"><span style="color:#fff;">Abonar</span></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>