<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="!LisPP" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item style="width:100%;" *ngIf="LisPP && LisPP.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; margin-top:20%; opacity:0.3;">Sin viajes</h1>
    </ion-item>
    <ion-item *ngFor="let pp of LisPP">
      <ion-label class="ion-text-wrap">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p style="color: var(--ion-color-dark);"><strong style="color: var(--ion-color-primary);">Desde:</strong><br>{{pp.OriDes}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p style="color: var(--ion-color-dark);"><strong style="color: var(--ion-color-primary);">Hasta:</strong><br>{{pp.DesDes}}</p>
            </ion-col>
          </ion-row>
          <ion-row style="color: var(--ion-color-light); background-color:var(--ion-color-primary); border-radius:10px; text-align:center;">
            <ion-col>
              <p style="margin:0px;">{{pp.Distancia}}</p>
            </ion-col>
            <ion-col>
              <p style="margin:0px;">{{pp.Tiempo}}</p>
            </ion-col>
            <ion-col>
              <p style="margin:0px;">{{servicios.Pais.SimMon}}{{servicios.NumFor(pp.Precio,2)}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2 style="margin-top:3%; color: var(--ion-color-dark);"><strong style="color: var(--ion-color-medium);">Conductor: </strong><br>{{pp.NomApe}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p style="text-align:center;" [ngStyle]="{'color':servicios.ColEstVia(pp.Estatus)}">{{pp.Estatus}}</p>
            </ion-col>
            <!--
            <ion-col>
              <p style="text-align:right; color: var(--ion-color-dark);">{{servicios.Pais.SimMon}}{{servicios.NumFor(pp.Base,2)}}</p>
            </ion-col>
            -->
            <ion-col>
              <p style="text-align:center; text-transform:capitalize;">{{servicios.ObtRelTimMom(pp.FecHorSol,'YYYY-MM-DD hh:mm:ss')}}</p>
              <!--<p style="text-align:center; opacity:0.5;">{{servicios.ForFecHorPeq(pp.FecHorSol)}}</p>-->
            </ion-col>
          </ion-row>
          <ion-row *ngIf="pp.ProRep > 0">
            <ion-col>
              <p style="text-align:center; color: var(--ion-color-light); background-color: var(--ion-color-warning); border-radius:5px;">Problema reportado</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <!--<ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>-->
    </ion-item>
  </ion-list>
</ion-content>
