<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Solicitar Abono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="background-color: var(--ion-color-light); margin:5%; border-radius:10px;">
    <ion-row style="text-align: center;">
      <ion-col>
        <h2 style="margin: 0px; opacity: 0.7;">Datos Bancarios</h2>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col>
        <h3>Banco Santander Mexico</h3>
        <h4><span style="opacity:0.7;">Cuenta:</span><br>65-50870239-6</h4>
        <h4><span style="opacity:0.7;">CLABE:</span><br>014830655087023967</h4>
        <h4><span style="opacity:0.7;">Titular:</span><br>HUGO AURELIO ZARATE TOVAR</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-item lines="none">
    <h3 style="width:100%; opacity:0.7; text-align:right;">Saldo: <span [ngStyle]="{'color':servicios.ColMon(servicios.UsuMat.Saldo)}">{{servicios.Pais.SimMon}}{{servicios.NumFor(servicios.UsuMat.Saldo,2)}}</span></h3>
  </ion-item>

  <ion-item style="margin-top:10%;">
    <ion-label position="floating">Por favor indique el monto a abonar $</ion-label>
    <!--<ion-input [(ngModel)]="MonAbo" type="tel" prefix="$" mask="0*,00"></ion-input>-->
    <ion-input [(ngModel)]="MonAbo" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tipo de abono</ion-label>
    <ion-select [(ngModel)]="TipAbo" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="Deposito">Deposito</ion-select-option>
      <ion-select-option value="Transferencia">Transferencia</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Referencia de abono</ion-label>
    <ion-input [(ngModel)]="RefAbo" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha de abono</ion-label>
    <ion-datetime displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY" [(ngModel)]="FecAbo"></ion-datetime>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row style="text-align: center;">
      <ion-col>
        <ion-button color="success" (click)="Solicitar()"><span style="color:#fff;">Solicitar</span></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>