<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="VerPre()">
      <ion-icon slot="start" name="list-outline"></ion-icon>
      <ion-label>
        <h2 style="color:var(--ion-color-primary);">Preguntas frecuentes</h2>
        <p>Obtén una respuesta rápida a las dudas mas comunes</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="book-outline"></ion-icon>
      <ion-label>
        <h2><a style="text-decoration: none; color:var(--ion-color-primary);" href="{{servicios.ApiUrl}}doc/ayucli.pdf" target="_blank">Manual de usuario</a></h2>
        <p>La descripción completa del sistema esta aquí</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="shield-outline"></ion-icon>
      <ion-label>
        <h2><a style="text-decoration: none; color:var(--ion-color-primary);" href="{{servicios.ApiUrl}}doc/tercon.pdf" target="_blank">Políticas, términos y condiciones</a></h2>
        <p>Las reglas del servicio estan descritas aquí</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="help-buoy-outline"></ion-icon>
      <ion-label>
        <h2><a style="text-decoration: none; color:var(--ion-color-primary);" href="mailto:{{servicios.EmaSop}}">Contacto</a></h2>
        <p>Nuestro equipo de soporte está listo para atenderte</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
