<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Solicitar Retiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <h3 style="width:100%; opacity:0.7; text-align:right;">Saldo: <span [ngStyle]="{'color':servicios.ColMon(servicios.UsuMat.Saldo)}">{{servicios.Pais.SimMon}}{{servicios.NumFor(servicios.UsuMat.Saldo,2)}}</span></h3>
  </ion-item>

  <ion-item style="margin-top:10%;">
    <ion-label position="floating">Por favor indique el monto a retirar $</ion-label>
    <!--<ion-input [(ngModel)]="MonRet" type="tel" prefix="$" mask="0*,00"></ion-input>-->
    <ion-input [(ngModel)]="MonRet" type="number"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row style="text-align: center;">
      <ion-col>
        <ion-button color="warning" (click)="Solicitar()"><span style="color:#fff;">Solicitar</span></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>