<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="!LisNot" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item style="width:100%;" *ngIf="LisNot && LisNot.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; margin-top:20%; opacity:0.3;">Sin notificaciones</h1>
    </ion-item>
    <ion-item *ngFor="let not of LisNot" (click)="MosDet(not)">
      <ion-icon *ngIf="not.Accion == 'Conductores' && not.Titulo == 'Nuevo Conductor'" slot="start" name="people-outline" color="secondary"></ion-icon>
      <ion-icon *ngIf="not.Accion == 'Conductores' && not.Titulo == 'Alerta de Falla'" slot="start" name="build-outline" color="secondary"></ion-icon>
      <ion-icon *ngIf="not.Accion == 'Viajes'" slot="start" name="navigate-outline" color="secondary"></ion-icon>
      <ion-icon *ngIf="not.Accion == 'Chat'" slot="start" name="chatbubbles-outline" color="secondary"></ion-icon>
      <ion-icon *ngIf="not.Accion == 'Soporte'" slot="start" name="help-outline" color="secondary"></ion-icon>
      <ion-icon *ngIf="not.Accion == 'Panico'" slot="start" name="alert-circle-outline" color="secondary"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2>{{not.Titulo}}</h2>
        <p>{{not.Contenido}}</p>
        <p style="text-align:right; opacity:0.5;">{{servicios.ForFecHorPeq(not.FecHor)}}</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
