#map{
  height: 100%;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.CarBadge{
  background-color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding: 2px;
}

#DivSup{
  position:absolute;
  top:10%;
  left:5%;
  min-height:10%;
  max-height:25%;
  width:90%;
  padding:5px;

  text-align: center;
  vertical-align: middle;

  color: #fff;

  border-radius:10px;
  background-color:rgba(var(--ion-color-primary-rgb),0.9);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

  transition: all 1s;
}

#DivInf{
  position:absolute;
  bottom:5%;
  left:5%;
  min-height:5%;
  width:90%;
  padding:5px;

  text-align: center;
  vertical-align: middle;

  border-radius:10px;
  background-color:rgba(var(--ion-color-secondary-rgb),0.9);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}