<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img class="logoBar" align="absmiddle">{{Saludo}} {{servicios.UsuMat.Nombre}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
      <ion-badge *ngIf="servicios.DatNot.Solicitudes.length > 0 || servicios.DatNot.Servicios.length > 0 || servicios.DatNot.Conductores.length > 0 || servicios.DatNot.Chat.length > 0 || servicios.DatNot.Soporte.length > 0 || servicios.DatNot.Panico.length > 0" class="CarBadge"><span style="font-size:17px; font-weight: bold;">*</span></ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div #map id="map"></div>
  <div id="VehPer" style="position:absolute; top:0px; visibility:hidden;"></div>
  <div id="DivSup">
    <ion-item *ngIf="PubEle.Titulo == ''" lines="none">
      <ion-label style="color:#fff !important;" class="ion-text-wrap">
        <h1>Un momento por favor ...</h1>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="PubEle.Titulo != ''" lines="none">
      <!--<ion-img slot="start" src="assets/img/{{PubEle.Imagen}}" style="height:75px;"></ion-img>-->
      <ion-label class="ion-text-wrap">
        <h2 style="color:var(--ion-color-secondary) !important;">{{PubEle.Titulo}}</h2>
        <p style="color:#fff !important;">{{PubEle.Descripcion}}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="ViaAct && ViaAct.length > 0 && (ViaAct[0].Estatus=='Aceptado' || ViaAct[0].Estatus=='Iniciado')">
    <ion-fab-button color="primary">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="danger" (click)="OpeModCanSol()">
        <ion-icon name="close-circle-outline" color="light" style="font-size:24px;"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="MueCha()">
        <ion-icon name="chatbubbles-outline" color="light" style="font-size:24px;"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary">
        <a href="tel:{{ViaAct[0].TelCon}}"><ion-icon name="call-outline" color="light" style="font-size:24px;"></ion-icon></a>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div id="DivInf">
    <ion-item *ngIf="!ViaAct" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>

    <ion-grid *ngIf="ViaAct && ViaAct.length == 0">
      <ion-row>
        <ion-col>
          <p style="color: var(--ion-color-primary); font-weight: bold;">¡Usando {{servicios.NomApp}} puedes solicitar un Taxi rápido y seguro!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="success" (click)="SolSer()" expand="block">Solicitar {{servicios.NomApp}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item *ngIf="ViaAct && ViaAct.length > 0 && ViaAct[0].Estatus=='Nuevo'" lines="none">
      <ion-spinner slot="start" style="margin:0 auto;" color="primary"></ion-spinner>
      <ion-label><h3 style="text-align: center;">Buscando Conductores ...</h3></ion-label>
    </ion-item>

    <ion-grid *ngIf="ViaAct && ViaAct.length > 0 && (ViaAct[0].Estatus=='Aceptado' || ViaAct[0].Estatus=='Iniciado' || ViaAct[0].Estatus=='Finalizado')">
      <ion-row>
        <ion-col>
          <h3 style="margin:0px;" *ngIf="ViaAct[0].Estatus=='Aceptado'"><span *ngIf="!AviChoCer">El conductor ya viene en camino</span> <span *ngIf="AviChoCer">El conductor esta cerca</span> <span style="color: var(--ion-color-primary);" *ngIf="TLC!=''">Llegará en {{TLC}}</span> </h3>
          <h2 style="margin:0px;" *ngIf="ViaAct[0].Estatus=='Iniciado' || ViaAct[0].Estatus=='Finalizado'">¡Feliz Viaje!</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-thumbnail slot="start">
              <img *ngIf="!ViaAct[0].FotCon.includes('https://')" src="{{servicios.ApiUrl}}img/usu/{{ViaAct[0].FotCon}}">
              <img *ngIf="ViaAct[0].FotCon.includes('https://')" src="{{servicios.AjuFPRS(ViaAct[0].FotCon)}}">
            </ion-thumbnail>

            <ion-label class="ion-text-wrap">
              <h2 >{{ViaAct[0].NomCon}}</h2>
              <p style="color:var(--ion-color-dark) !important;">Puntos: {{servicios.NumFor(ViaAct[0].PunCon,0)}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col style="color: var(--ion-color-dark);">{{ViaAct[0].TipVeh}}</ion-col>
              <ion-col style="color: var(--ion-color-dark);">{{ViaAct[0].MarVeh}}</ion-col>
              <ion-col style="color: var(--ion-color-primary);">{{ViaAct[0].ModVeh}}</ion-col>
              <ion-col style="color: var(--ion-color-primary);">{{ViaAct[0].MatVeh}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="ViaAct && ViaAct.length > 0 && ViaAct[0].Estatus=='Calificado Conductor'">
      <ion-row *ngIf="CalVia > 0 && CalVia < 4">
        <ion-col>
          <ion-item *ngFor="let pre of EncVia" (click)="OpeModEnc(pre)">
            <ion-label class="ion-text-wrap">
              <p style="color:var(--ion-color-dark);">{{pre.Pregunta}}</p>
              <p *ngIf="pre.OpcSel != ''" style="color:var(--ion-color-primary); font-size:large; text-align: right;">({{pre.OpcSel}})</p>
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="text-align:center;">
        <ion-col>
          <!--<p style="text-align:center;">Como calificas este viaje?</p>-->
          <p style="color:#999; text-align:center; font-size:30px; margin:0; border:0px solid #eee; border-radius:10px;">
            <ion-icon (click)="CalVia = 1" *ngIf="CalVia > 0" name="star" color="primary"></ion-icon>
            <ion-icon (click)="CalVia = 1" *ngIf="CalVia < 1" name="star-outline" color="primary"></ion-icon>
            <ion-icon (click)="CalVia = 2" *ngIf="CalVia > 1" name="star" color="primary"></ion-icon>
            <ion-icon (click)="CalVia = 2" *ngIf="CalVia < 2" name="star-outline" color="primary"></ion-icon>
            <ion-icon (click)="CalVia = 3" *ngIf="CalVia > 2" name="star" color="primary"></ion-icon>
            <ion-icon (click)="CalVia = 3" *ngIf="CalVia < 3" name="star-outline" color="primary"></ion-icon>
            <ion-icon (click)="CalVia = 4" *ngIf="CalVia > 3" name="star" color="primary"></ion-icon>
            <ion-icon (click)="CalVia = 4" *ngIf="CalVia < 4" name="star-outline" color="primary"></ion-icon>
            <ion-icon (click)="CalVia = 5" *ngIf="CalVia == 5" name="star" color="primary"></ion-icon>
            <ion-icon (click)="CalVia = 5" *ngIf="CalVia < 5" name="star-outline" color="primary"></ion-icon>
            <!--<br>
            {{CalVia}}/5-->
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button style="margin-top:0px;" (click)="Calificar()" color="success">Calificar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>