<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Agregar Datos Bancarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Banco</ion-label>
    <ion-input [(ngModel)]="Banco" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Titular</ion-label>
    <ion-input [(ngModel)]="Titular" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">DNI o NIE</ion-label>
    <ion-input [(ngModel)]="ID" type="text" mask="000000000-0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cuenta</ion-label>
    <ion-input [(ngModel)]="Cuenta" type="text" mask="0000-0000-0000-0000"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tipo de cuenta</ion-label>
    <ion-select [(ngModel)]="Tipo" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="Debito">Debito</ion-select-option>
      <ion-select-option value="Credito">Credito</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row style="text-align: center;">
      <ion-col>
        <ion-button color="warning" (click)="AgrDat()"><span style="color:#fff;">Agregar</span></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>