<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="!LisPP" lines="none">
      <ion-spinner style="margin:0 auto;" color="primary"></ion-spinner>
    </ion-item>
    <ion-item style="width:100%;" *ngIf="LisPP && LisPP.length == 0" lines="none">
      <h1 style="width:100%; text-align:center; margin-top:20%; opacity:0.3;">Sin mensajes</h1>
    </ion-item>
    <ion-item *ngFor="let pp of LisPP" (click)="VerCha(pp)">
      <img slot="start" *ngIf="!pp.FotPer.includes('https://')" style="border-radius:10px; height:75px; width:75px;" src="{{servicios.ApiUrl}}img/usu/{{pp.FotPer}}">
      <img slot="start" *ngIf="pp.FotPer.includes('https://')" style="border-radius:10px; height:75px; width:75px;" src="{{servicios.AjuFPRS(pp.FotPer)}}" alt="">
      <!--
      <ion-icon *ngIf="pp.ClaEsp == 'MedCit'" slot="start" name="calendar-outline" color="primary" style="font-size:48px;"></ion-icon>
      <ion-icon *ngIf="pp.ClaEsp == 'MedDom'" slot="start" name="medical-outline" color="primary" style="font-size:48px;"></ion-icon>
      <ion-icon *ngIf="pp.ClaEsp == 'MedVid'" slot="start" name="videocam-outline" color="primary" style="font-size:48px;"></ion-icon>
      -->
      <ion-label class="ion-text-wrap">
        <h4 style="font-size: large; color: var(--ion-color-dark);">{{pp.NomApe}}</h4>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p style="text-align:left;" [ngStyle]="{'color':servicios.ColEstVia(pp.Estatus)}">{{pp.Estatus}}</p>
            </ion-col>
            <!--
            <ion-col>
              <p style="text-align:right; color: var(--ion-color-dark);">{{servicios.Pais.SimMon}}{{servicios.NumFor(pp.Base,2)}}</p>
            </ion-col>
            -->
          </ion-row>
          <ion-row>
            <ion-col>
              <p style="text-align:center; opacity:0.5; text-transform:capitalize;">{{servicios.ObtRelTimMom(pp.FecHorSol,'YYYY-MM-DD hh:mm:ss')}}</p>
              <!--<p style="text-align:center; opacity:0.5;">{{servicios.ForFecHorPeq(pp.FecHorSol)}}</p>-->
            </ion-col>
          </ion-row>
          <ion-row *ngIf="pp.ProRep > 0">
            <ion-col>
              <p style="text-align:center; color: var(--ion-color-light); background-color: var(--ion-color-warning); border-radius:5px;">Problema reportado</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
