<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Retirar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <h3 style="width:100%; opacity:0.7; text-align:right;">Saldo: <span [ngStyle]="{'color':servicios.ColMon(servicios.UsuMat.Saldo)}">{{servicios.Pais.SimMon}}{{servicios.NumFor(servicios.UsuMat.Saldo,2)}}</span></h3>
  </ion-item>

  <ion-list>
    <h3 style="text-align:center; margin:0px;">Retiros solicitados</h3>
  </ion-list>

  <ion-grid *ngFor="let tra of Trans"  style="margin:5%; padding:2%; border-radius:10px;" [ngStyle]="{'background-color': servicios.DarMod ? 'rgba(30, 30, 30, 0.8)' : 'rgba(225, 225, 225, 0.8)'}">
    <ion-row>
      <ion-col>
        <h3 style="margin:0px;" [ngStyle]="{'color':servicios.ColMon(tra.Monto)}">{{tra.Descripcion}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: left; opacity:0.5;" size="7">{{servicios.ForFecHor(tra.FecHorReg)}}</ion-col>
      <ion-col style="text-align: right;" size="5" [ngStyle]="{'color':servicios.ColMon(tra.Monto)}">{{servicios.Pais.SimMon}}{{servicios.NumFor(tra.Monto,2)}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p *ngIf="tra.Estatus == 'Rechazada'">{{tra.Respuesta}}</p>
        <h5 style="width:100%; text-align:center;">Estatus: <span [ngStyle]="{'color':servicios.ColEstTra(tra.Estatus)}">{{tra.Estatus}}</span></h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row style="text-align: center;">
      <ion-col>
        <ion-button color="warning" (click)="SolRet()"><span style="color:#fff;">Solicitar Retiro</span></ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" (click)="DatBan()"><span style="color:#fff;">Datos Bancarios</span></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>