#map {
    width: 100%;
    height: 100%;
    border: 0px solid blue;
}

.FonTra{
    background-color:transparent;
}

.DivCenEst{
    position:absolute;
    top:50%;
    left:50%;
    width:48px;
    height:48px;
    transform: translate(-24px,-10px);
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border:0px solid #f00;
    z-index: 2;
}