<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Seleccionar ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow:hidden !important;">
  <div style="width:100%; height:100%;">
    <div style="margin:1%; text-align: center;">
      <input id="pac-input" type="text" placeholder="Dirección a buscar ..." style="width:100%;font-size:18px; background-color: #fff; border-radius:5px;">
    </div>
    <div style="width:100%; height:90%;">
      <div #map id="map"></div>
    </div>
  </div>

  <div class="DivCenEst" id="DivCenEst">
    <img src="assets/img/chi.png" style="height:48px;">
  </div>

  <span style="display:none;" id="BusDes" type="text"></span>
  <span style="display:none;" id="BusLatLon" type="text"></span>
  <span style="display:none;" id="Distancia" type="text"></span>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="ObtUbi()"><ion-icon style="font-size:40px;" name="locate-outline" color="primary"></ion-icon></ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="SitSel()"><ion-icon style="font-size:40px;" name="checkmark-circle-outline" color="primary"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
