<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Ingresa el código</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin:10%; padding:5%; border-radius:10px; background-color:rgba(255,255,255, 0.7);">
    <ion-row>
      <ion-col>
        <h3 style="color:var(--ion-color-dark);">Ingresa el codigo de 4 digitos enviado al <span style="font-weight: 900; color:var(--ion-color-primary);">{{servicios.UsuReg.NumMov}}</span></h3>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <ion-item>
          <ion-input #ICV1 (input)="PasaIVC2($event)" [(ngModel)]="D1" style="font-size:30px; color:var(--ion-color-dark);" maxlength="1" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input #ICV2 (input)="PasaIVC3($event)" [(ngModel)]="D2" style="font-size:30px; color:var(--ion-color-dark);" maxlength="1" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input #ICV3 (input)="PasaIVC4($event)" [(ngModel)]="D3" style="font-size:30px; color:var(--ion-color-dark);" maxlength="1" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item >
          <ion-input #ICV4 (input)="PasaIVCX($event)" [(ngModel)]="D4" style="font-size:30px; color:var(--ion-color-dark);" maxlength="1" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3 style="margin-top:100px;font-size:20px; color:var(--ion-color-dark);" (click)="Volver()">Ingresaste el número de teléfono móvil correcto?</h3>
        <h3 style="margin-top:20px;font-size:16px; color:var(--ion-color-tertiary);" (click)="VerAyuda()">Necesitas Ayuda?</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="ConCod()">
        <ion-icon name="chevron-forward-outline" color="primary" style="font-size:40px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>